<template>
  <div class="Unknown">
    <div class="Unknown__404">
      <h1>404</h1>
      Упс, кажется такой страницы не существует
      <button class="Unknown__goBack" @click="$router.go(-1)">Назад</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UnknownPage'
}
</script>

<style scoped lang="scss">
.Unknown {
  display: flex;
  justify-content: center;
  text-align: center;

  &__404 {
    max-width: 300px;
  }

  &__goBack {
    background: #74afea;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 15px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
}
</style>
