<template>
  <div class="Login">
    <div class="Login__formBlock">
      <form @submit="proceedLogin">
        <div class="Login__inputBlock">
          <label class="Login__inputLabel" for="login">Логин</label>
          <input required v-model="login" class="Login__input" type="text" id="login" name="login">
        </div>
        <div class="Login__inputBlock">
          <label class="Login__inputLabel" for="password">Пароль</label>
          <input required v-model="password" class="Login__input" type="password" id="password" name="password">
        </div>
        <p class="Login__errorMessage" v-if="loginFailed">{{ errorMessage }}</p>
        <button :disabled="loginLoading" :class="'Login__formButton' + (loginLoading ? ' Login__formButton--loading' : '')">Войти</button>
      </form>
    </div>
  </div>
</template>

<script>
const loginData = {
  login: 'admin',
  password: '123'
}

export default {
  name: 'Login',
  data: () => ({
    login: '',
    password: '',
    loginFailed: false,
    errorMessage: '',
    loginLoading: false
  }),
  methods: {
    proceedLogin (e) {
      e.preventDefault()
      this.loginLoading = true

      setTimeout(() => {
        if (this.login === loginData.login && this.password === loginData.password) {
          localStorage.isAuthorized = true
          this.$router.push('todo')
        } else {
          this.loginFailed = true
          this.errorMessage = 'Неверно введён логин или пароль'
        }
        this.loginLoading = false
      }, 500)
    }
  }
}
</script>

<style scoped lang="scss">
.Login {
  background-color: #edf0f3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__formBlock {
    background: #ffffff;
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 6px 20px -7px rgba(100,100,100, 0.4);
  }

  &__inputBlock {
    margin: 0 0 13px 0;
    display: flex;
    flex-direction: column;
  }

  &__inputLabel {
    margin-bottom: 5px;
  }

  &__errorMessage {
    font-size: 12px;
    text-align: center;
    color: red;
  }

  &__input {
    font-size: 16px;
    padding: 10px 13px;
    background: white;
    border-radius: 5px;
    border: 1px solid #dbdee0;
  }

  &__formButton {
    background: #74afea;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 5px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    position: relative;

    &:active {
      top: 1px;
    }

    &--loading {
      color: transparent;
      background: url('../assets/spinner.svg') no-repeat center center #74afea;
      background-size: 10%;
    }
  }
}
</style>
