<template>
  <div class="Todos">
    <div class="Todos__block">
      <div class="Todos__todosContainer">
        <div v-for="(todo, index) in allTodos" :key="'TodoItem_' + index" class="Todos__todo">
          <div v-if="index === editingIndex" class="Todos__editing">
            <input
              @keyup.enter="saveTodo(index)"
              @keyup.esc="clearIndex"
              class="Todos__todoInput"
              type="text"
              v-focus
              :value="todo.text"
              @input="saveNewTodoText"
            >
            <div @click="saveTodo(index)" class="Todos__saveButton"></div>
            <div @click="clearIndex" class="Todos__cancelButton"></div>
          </div>
          <div v-else class="Todos__todoBody">
            <span class="Todos__todoText">{{ index + 1 }}) {{ todo.text }}</span>
            <div class="Todos__controls">
              <div @click="changeTodo(index)" class="Todos__button Todos__todoBodyChange"></div>
              <div @click="$store.commit('DELETE_TODO', index)" class="Todos__button Todos__todoBodyDelete"></div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="!creatingNewTodo" @click="addTodo" class="Todos__addTodo"></div>
      <div v-else class="Todos__editing Todos__creatingBlock">
        <input
          v-focus
          @keyup.enter="createTodo"
          @keyup.esc="clearTemps"
          class="Todos__todoInput"
          type="text"
          v-model="newTodoText"
        >
        <div @click="createTodo" class="Todos__saveButton"></div>
        <div @click="clearTemps" class="Todos__cancelButton"></div>
      </div>
    </div>
    <button class="Todos__logout" @click="logout">Выход</button>
  </div>
</template>

<script>
export default {
  name: 'todo',
  computed: {
    allTodos () {
      return this.$store.getters.allTodos
    }
  },
  data: () => ({
    editingIndex: null,
    creatingNewTodo: false,
    changedTodoText: '',
    newTodoText: ''
  }),
  methods: {
    saveNewTodoText (event) {
      this.changedTodoText = event.target.value
    },
    addTodo () {
      this.clearIndex()
      this.creatingNewTodo = true
    },
    changeTodo (index) {
      this.editingIndex = index
      this.creatingNewTodo = false
    },
    clearIndex () {
      this.editingIndex = null
    },
    clearTemps () {
      this.creatingNewTodo = false
      this.newTodoText = ''
    },
    createTodo () {
      if (this.newTodoText.length) this.$store.commit('ADD_TODO', { text: this.newTodoText })

      this.clearTemps()
    },
    saveTodo (index) {
      this.$store.commit('CHANGE_TODO', { text: this.changedTodoText, index })
      this.clearIndex()
    },
    logout () {
      localStorage.removeItem('isAuthorized')
      this.$router.push('login')
      this.$store.commit('CLEAR_TODOS')
    }
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus()
      }
    }
  }
}
</script>

<style scoped lang="scss">
.Todos {
  box-sizing: border-box;
  background-color: #edf0f3;
  min-height: 100%;
  padding: 30px 0;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: center;

  &__logout {
    position: absolute;
    top: 26px;
    border-radius: 7px;
    right: 30px;
    border: none;
    opacity: 0.5;
    transition: opacity .1s;
    padding: 8px 26px;
    cursor: pointer;
    color: white;
    background: #da6e6e;

    &:hover {
      opacity: 1;
    }
  }

  &__todosContainer {
    width: 100%;
  }

  &__editing {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
  }

  &__creatingBlock {
    width: 100%;
    margin-top: 20px;
  }

  &__controls {
    display: flex;
  }

  &__todoInput {
    border: 1px solid #6ea5da;
    border-radius: 5px;
    font-size: 16px;
    padding: 9px 13px 8px 13px;
    width: calc(100% - 85px);
  }

  &__block {
    background: #ffffff;
    padding: 30px;
    margin: 20px 30px;
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 6px 20px -7px rgba(100,100,100, 0.4);
  }

  &__button {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    width: 19px;
    height: 19px;
    cursor: pointer;
  }

  &__saveButton {
    width: 20px;
    height: 20px;
    background: url("../assets/ok.svg") no-repeat center center;
  }

  &__todoText {
    margin-right: 10px;
  }

  &__cancelButton {
    width: 16px;
    height: 16px;
    background: url("../assets/cancel.svg") no-repeat center center;
  }

  &__saveButton, &__cancelButton {
    background-size: contain;
    margin: 0 0 0 10px;
    cursor: pointer;
    transition: opacity .1s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__addTodo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: opacity .1s;
    background: url("../assets/add.svg") no-repeat center center;
    background-size: contain;

    &:hover {
      opacity: 0.8;
    }
  }

  &__todoBody &__controls {
    transition: opacity .2s;
    opacity: 0;
  }

  &__todoBody {
    width: 100%;
    box-sizing: border-box;
    padding: 11px;
    margin-bottom: 9px;
    word-break: break-all;
    border-radius: 5px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: #6ea5da;
    position: relative;

    &Change {
      margin-right: 15px;
      background-image: url("../assets/edit.svg");
    }

    &:hover .Todos__controls {
      opacity: 1;
    }

    &Delete {
      background-image: url("../assets/delete.svg");
    }
  }
}
</style>
