<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100%;
}
</style>
